@use '../../assets/styles/base/mixins' as *;

.main {
  @include flex(unset, unset, column);
  gap: var(--gutter);
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin-top: calc(var(--gutter) + 50px);
  padding: var(--gutter);

  .section {
    @include flex(center, center, unset);
    width: 100%;
    min-height: calc(100vh - var(--gutter) * 2);

    &:nth-child(even) {
      .sectionContainer {
        @include flex(flex-end, center, row-reverse);

        @include media('sm') {
          @include flex(center, center, column);
        }
      }
    }

    .sectionContainer {
      @include flex(flex-end, center, row);
      position: relative;

      @include media('sm') {
        @include flex(center, center, column);
        gap: var(--space-6);
      }
    }

    .sectionTitle {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(-90deg) translateX(50%);
      transform-origin: left top;

      @include media('sm') {
        position: relative;
        transform: none;
      }

      h3 {
        position: relative;
        z-index: 1;
        font-family: var(--font-romantic);
        font-size: var(--font-size-6xl);

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 5px;
          z-index: -1;
          width: 100%;
          height: 15px;
          background: #007bc1;
        }
      }

      p {
        font-size: var(--font-size-xs);
        color: var(--grey-500);
      }
    }

    .imgBox {
      img {
        max-width: 40vw;

        @include media('md') {
          max-width: 90vw;
        }
      }
    }

    .textBox {
      @include flex(unset, unset, column);
      gap: var(--space-6);

      .title {
        @include flex(unset, unset, column);
        gap: var(--space-1);
        h2 {
          font-family: var(--font-romantic);
          font-size: var(--font-size-6xl);
          font-weight: var(--font-weight-700);
        }

        p {
          font-size: var(--font-size-sm);
          color: var(--grey-700);
        }

        .career {
          td {
            font-size: var(--font-size-sm);
            color: var(--grey-700);
            word-break: keep-all;
          }
        }
      }

      .quickView {
        @include flex(unset, unset, column);
        gap: var(--space-2);

        .quickViewTitle {
          @include flex(center, unset, row);
          gap: var(--space-1);

          p {
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-600);
          }
        }

        ul {
          @include flex(center, unset, row);
          flex-wrap: wrap;
          gap: var(--space-1);
          max-width: 266px;
        }

        li {
          width: 50px;
          height: 50px;
          overflow: hidden;
        }

        a {
          @include transition-colors;
          position: relative;
          display: inline-block;
          width: 50px;
          height: 50px;
          background-color: rgba(0, 0, 0, 0);
        }

        a:hover {
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.1);
          }
        }

        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: 50px;
  text-align: center;

  p {
    font-size: var(--font-size-sm);
    color: var(--grey-500);
  }
}
